# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db
img/timeserver/1319767194003.png
img/timeserver/Frustrated_programmer.gif
img/timeserver/frustratedProgrammer.jpg
img/timeserver/tumblr_lpw84fxvSG1qh4i0n.gif
